server:
  port: 8080
  compression:
    enabled: true
    mime-types: text/plain,application/x-json-stream
management:
  port: 7979
logging:
  level:
    ROOT: INFO
    org.springframework.web: INFO
    org.springframework.security.web.access.intercept: DEBUG
    org.apache.kafka: WARN
    org.zalando.nakadi: DEBUG
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/local_nakadi_db
    username: nakadi
    password: nakadi
    driverClassName: org.postgresql.Driver
    initialSize: 2
    maxActive: 20
    testOnBorrow: true
    validationQuery: SELECT 1
nakadi:
  topic:
    min:
      retentionMs: 86400000 # 1 days
    max:
      partitionNum: 8
      retentionMs: 345600000 # 4 days
    default:
      partitionNum: 1
      replicaFactor: 1
      retentionMs: 172800000 # 2 days
      rotationMs: 86400000 # 1 day
  stream:
    timeoutMs: 31536000000 # 1 year :-P
    default:
        commitTimeout: 60 # 1 minute
  featureToggle.default: false
  kafka:
    request.timeout.ms: 30000
    instanceType: t2.large
    poll.timeoutMs: 100
    send.timeoutMs: 5000
    batch.size: 5242880
    linger.ms: 0
  zookeeper:
    kafkaNamespace:
    brokers: 127.0.0.1:2181
#    exhibitor:
#      brokers: 127.0.0.1,127.0.0.2
#      port: 8181
    sessionTimeoutMs: 30000
    connectionTimeoutMs: 10000
  oauth2:
    mode: BASIC
    adminClientId: nakadi
    tokenInfoUrl: https://example.com/tokeninfo
    clientId: stups_aruha-event-store-poc
    scopes:
      uid: uid
      nakadiAdmin: nakadi.config.write
      eventTypeWrite: nakadi.event_type.write
      eventStreamRead: nakadi.event_stream.read
      eventStreamWrite: nakadi.event_stream.write
  auth:
    plugin:
      factory: org.zalando.nakadi.plugin.auth.DefaultApplicationServiceFactory
---

spring:
  profiles: acceptanceTest
nakadi:
  stream:
    default:
      commitTimeout: 5 # seconds