<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Only for local testing. This file will not make it into any distribution -->
    <appender name="default" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %x %p %t %l: %m%n"/>
        </layout>
    </appender>
    <!-- Perf4J Configuration Start -->
    <!-- used to output aggregated performance statistics -->
    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/zalando/logs/${jvm.process.name}/application.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %x %p %t %l: %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="info"/>
        <!--<appender-ref ref="default"/>-->
        <appender-ref ref="fileAppender"/>
    </root>
</log4j:configuration>
