html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: $font-default;
  font-size: $font-size;
  color: $color-font;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  padding-left: $sidebar-width;

  @include respond-to('small') {
    padding-left: 0;
  }
}


h1 {
  font-size: 3rem;
  margin: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 2rem;
}

h4 {
  font-size: 1.8rem;
  margin-top: 1.8rem;
}

h5 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: #2383c4;
  text-decoration: none;
  border-bottom: dotted 1px gray;
}


