.doc {
  display: flex;

  ol li {
    list-style: decimal;
    margin-left: 2rem;
  }

  ul li {
    list-style: circle;
    margin-left: 2rem;
  }

  @include respond-to('medium') {
    display: block;;
  }

  .info {
    padding: $content-padding;
  }

  .info {
    width: 60%;
    line-height: 1.5;
    border-bottom: 1px solid darken($color-lightgray, 5%);

    @include respond-to('medium') {
      width: 100%;
    }

    .highlighter-rouge {
      font-family: "Courier", sans-serif;
      padding: .2rem;
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 3px;
      color: $color-primary;
      overflow: auto;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid gray;
    span:after {
      font-size: 1.25rem;
    }

    a {
      color: inherit;
    }
  }

  .summary {
    color: darken($color-lightgray, 50%);
    margin-bottom: 1.5rem;
  }

  .markdown {

  }

  .type {
    color: #de935f;
    margin-bottom: 1rem;
  }

  .subtype {
    padding-left: 0.5rem;

  }

  .subtype.many-items {
    margin-left: 0.5rem;
    border-left: 1px solid lightgray;
  }

  .props {
    margin-left: 1rem;
    padding-left: 1rem;
  }

  .prop {
    display: flex;
  }

  .prop-name {
    color: #5cb85c;
    white-space: nowrap;
  }

  .param {
    margin-bottom: 1rem;
  }

  .required:after {
    content: ' *';
    color: red;
  }

  .array {
    color: #de935f;
    display: inline-block;
    white-space: nowrap;
  }

  .key {
    color: #2383c4;
    white-space: nowrap;
  }

  .value {
    margin-left: 1rem;
    white-space: nowrap;
  }

  .description {
    padding-left: 1rem;
  }

  .props-label {
    margin-left: 1rem;
  }

  .additional-info {
    margin-bottom: 1rem;
  }

}

.doc-full {
  .info {
    width: 100%;
  }
}
