.navigation {
  padding: 20px;
  font-size: 14px;

  .title {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid darken($color-lightgray, 5%)
  }

  .first-level {
    margin-bottom: 20px;
  }

  .path {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid darken($color-lightgray, 5%);
    white-space: nowrap;
    a {
      display: inline-block;
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding: 6px 10px;
    color: $color-font;
    transition: $default-transition;
    border: none;

    &:hover {
      color: $color-primary;
    }

    span:after {
      font-size: 11px;
      padding-left: 5px;
    }
  }

}
