/********+******+******+******+****
* Colors
******+******+******+******+*******/

$color-primary: #3498db;
$color-font: #333;
$color-lightgray: #f5f5f5;
$color-white: #fff;

$color-post: #5cb85c;
$color-get: #337ab7;
$color-delete: #d9534f;
$color-put: #f0ad4e;
$color-patch: #663399;

$title-color: $color-white;
$code-background: #232323;
$code-inner-background: #1d1f21;
$code-base-color: #c5c8c6;
