$methods: (
  get: $color-get,
  post: $color-post,
  put: $color-put,
  delete: $color-delete,
  patch: $color-patch,
);

@each $method, $color in $methods {
  .method-#{$method}:before {
    content: attr(data-after);
    text-transform: uppercase;
    color: $color;
  }
}
