.preview {
  padding: $content-padding;
  color: $color-white;
  width: 40%;
  background: $code-background;
  border-bottom: 1px solid darken($color-lightgray, 75%);
  line-height: 1.5;

  @include respond-to('medium') {
    width: 100%;
  }

  @include respond-to('medium') {
    width: 100%;
  }

  pre {
    &:first-line {
      line-height: 0;
    }

    code {
      display: block;
      background: $code-inner-background;
      color: $code-base-color;
      font-family: Menlo, Monaco, Consolas, monospace;
      line-height: 1.5;
      padding: 1rem;
      overflow: auto;
    }
  }
}

